# General:
.DS_Store
.idea
.vscode
.cache
venv/
__pycache__/
.pytest_cache/

# Build:
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Compiled extension modules
*.pyd
*.so
*.c
*.whl

# Dev
cache/
_build/
benchmarks/
